<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>456933032214-64rbj2eup6vj5ut7c7dfnuogfsfscfcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456933032214-64rbj2eup6vj5ut7c7dfnuogfsfscfcp</string>
	<key>API_KEY</key>
	<string>AIzaSyDrm1Sfgt4f9ZfE5pHZeeBkusQuOe1-3lo</string>
	<key>GCM_SENDER_ID</key>
	<string>456933032214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simform.StarbudsMobileApp</string>
	<key>PROJECT_ID</key>
	<string>starbuds-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>starbuds-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456933032214:ios:365b20f03f578e46</string>
	<key>DATABASE_URL</key>
	<string>https://starbuds-chat.firebaseio.com</string>
</dict>
</plist>